<link rel="stylesheet" href="../../static/css/style.css">{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<!-- 评论区 -->
<!-- 用星星实现评分效果 -->

<!-- 展示游戏封面 -->
<div id="gamepageBody" class="animate__animated animate__bounceInUp">
    <div id="GPLeftBox">
        <div id="titleInPage">
            <h1>{{game['game_title']}}</h1>
        </div>

        <img id="gameCoverInPage"
            src="{{url_for('static',filename='/gameMaterialStock/'~game['game_id']~'/game_cover.jpg')}}" alt="">


        <div id="gameDescriptionInPage">
            <p>游戏会社：<span>{{game['game_develop_company']}}</span></p>
            <p>游戏评分：<span>{{game['game_average_score']}}</span></p>
            <p>游戏类型：<span>{{game['game_type_name']}}</span></p>
        </div>

        <p>请给游戏评分：</p>
        <ul class="starRating">
            <li>★</li>
            <li>★</li>
            <li>★</li>
            <li>★</li>
            <li>★</li>
        </ul>
        <!-- 提交评分按钮 -->
        <button id="submitScore" value={{game.game_id}}>提交评分</button>

    </div>

    <div id="GPMiddleBox">
        <p id="gameIntro">游戏简介：<span>{{game['game_intro']}}</span></p>
        <!-- 展示游戏截图 -->
        <!-- {% for i in range(1,screenShotCount+1) %}
        <img src="{{url_for('static',filename='/gameMaterialStock/'~game['game_id']~'/game_screenshot'~i~'.jpg')}}"
            alt="">
        {%endfor%} -->
        <!-- Container for the image gallery -->
        <div class="photoContainer">
            <!-- Full-width images with number text -->
            
                {% for i in range(1,screenShotCount+1) %}
                <div class="mySlides">
                <!-- show loop counter -->
                <div class="numbertext">{{i}} / {{screenShotCount}}</div>
                <img style="width:100%" src="{{url_for('static',filename='/gameMaterialStock/'~game['game_id']~'/game_screenshot'~i~'.jpg')}}"
                    alt="">
                </div>
                {%endfor%}

           
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <!-- Image text -->

            <!-- Thumbnail images -->
            {% for i in range(1,screenShotCount+1) %}
            <img value={{i}} class="demo cursor" style="width:18%"
                src="{{url_for('static',filename='/gameMaterialStock/'~game['game_id']~'/game_screenshot'~i~'.jpg')}}"
                onclick="currentSlide('{{i}}')" alt="">
            {%endfor%}
        </div>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            // Next/previous controls
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            // Thumbnail image controls
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("demo");
                var captionText = document.getElementById("caption");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                captionText.innerHTML = dots[slideIndex - 1].alt;
            }
        </script>


        <!-- 显示所有评论 -->
        <div id="commentList">
            {% for comment in comments %}
            <div>
                <p>用户id：{{comment['comment_user_id']}}</p>
                <p>评论时间：{{comment['comment_time']}}</p>
                <p>评论内容：{{comment['comment_contents']}}</p>

            </div>
            {% endfor %}
        </div>

        <!-- 添加用户评论框（在当前页面） -->
        <div id="comment">
            <input type="hidden" name="game_id" value="{{game['game_id']}}">
            <textarea name="comment_content" id="" cols="30" rows="10"></textarea>
            <button id="submitComment" value={{current_user.id}}>提交评论</button>
        </div>

        <!-- 按下按钮 jquery发送评论  -->
        <script>
            $("#submitComment").click(function () {
                console.log("click");
                var comment_content = $("#comment textarea").val();
                var game_id = $("#comment input[name='game_id']").val();
                var user_id = $(this).val();
                console.log(user_id);
                // console.log(game_id);
                $.ajax({
                    url: "{{url_for('gamepage.submitComment')}}",
                    type: "post",
                    data: {
                        "game_id": game_id,
                        "comment_content": comment_content
                    },
                    success: function (data) {
                        if (data == "success") {
                            alert("评论成功");
                            window.location.reload(true);
                        } else {
                            alert("评论失败");
                        }
                    }
                });
            });
        </script>


    </div>

    <div id="GPRightBox">
        
    </div>

    <script>
        let starBox = document.getElementsByClassName("starRating")[0];
        let starList = document.getElementsByTagName("li");
        //when mouse over the star, change the color
        let clickFlag = false;
        starBox.onmouseover = function (e) {
            if (clickFlag) {
                return;
            }
            if (e.target.tagName == "LI") {
                e.target.style.color = "red";
                let prev = e.target.previousElementSibling;
                while (prev) {
                    prev.style.color = "red";
                    prev = prev.previousElementSibling;
                }
                let next = e.target.nextElementSibling;
                while (next) {
                    next.style.color = "black";
                    next = next.nextElementSibling;
                }
            }
        };

        starBox.onclick = function (e) {
            if (e.target.tagName == "LI") {
                clickFlag = true;
                let prev = e.target.previousElementSibling;
                e.target.style.color = "red";
                while (prev) {
                    prev.style.color = "red";
                    prev = prev.previousElementSibling;
                }
                let next = e.target.nextElementSibling;
                while (next) {
                    next.style.color = "black";
                    next = next.nextElementSibling;
                }
            }
        };

        //jquery 发送评分
        $("#submitScore").click(function () {
            let score = 0;
            for (let i = 0; i < starList.length; i++) {
                if (starList[i].style.color == "red") {
                    score = i + 1;
                }
            }

            const game_id = $(this).val();
            console.log(game_id);
            $.ajax({
                url: "{{url_for('gamepage.submitScore')}}",
                type: "post",
                data: {
                    "game_id": game_id,
                    "score": score
                },
                success: function (data) {
                    if (data == "success") {
                        alert("评分成功");
                        // 刷新
                        window.location.reload();

                    } else {
                        alert("评分失败");
                    }
                }
            });
        });


    </script>




</div>






{% endblock %}