body{
    background-color: #f2fac4;
    margin:10px 100px 50px;
}

.navigator{
    border: 1px solid rgb(57, 199, 255);
    height:150px;
}
.headbox{
    width:30%;
    height:150px;
    float:left;
    border: 1px solid rgb(0, 0, 0);
    position:relative;
    margin:auto;
}

.logo{
    width:20%;
    position:absolute;
    left:0px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    margin:auto;
    
}

.header{
    width:80%;
    position:absolute;
    right:0px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:auto;
}
.authBtn{
    font-family: 'Courier New', Courier, monospace;
    position:relative;
    float:right;
    border: 1px solid rgb(0, 0, 0);
}

.loginBtn{
    color: rgb(0, 116, 248);
    text-decoration: none;
    border: 1px solid rgb(255, 57, 57);
}

.regBtn{
    color: rgb(0, 116, 248);
    text-decoration: none;
    border: 1px solid rgb(255, 57, 57);
}