{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<div id="mainpageBox">
    <div class="gameRankList">
        <h1 id="list1">全部游戏</h1>
        <!-- 一条横线 -->
        
        {% for game in games %}
        <img id="gamecover" src="{{url_for('static',filename='/gameMaterialStock/'~game['game_id']~'/game_cover.jpg')}}" alt="">
        <p id="gametitle">{{game['game_title']}}</p>
        <p id="gamerank">rank{{loop.index}}</p>
        <HR  id="listline" width=100% color=#000000 SIZE=1>
        {% endfor %}
    </div>

    <div id="sideBox">
        sss
    </div>
</div>

{% endblock %}