{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<div id="mainpageBox">
    <div class="gameRankList">
        <h1 id="list1">全部游戏</h1>
        <!-- 一条横线 -->

        {% for game in games %}
        <div id="aGame" class="animate__animated animate__bounceInUp">
            <!-- <a href="{{url_for('gamepage.gamepage',game_id=game['game_id'])}}"> -->
            <a href="{{url_for('gamepage.gamepage',game_id=game['game_id'])}}">
                <img id="gameCover"
                    src="{{url_for('static',filename='/gameMaterialStock/'~game['game_id']~'/game_cover.jpg')}}" alt="">
            </a>

            <div id="gameTextBox">
                <p id="gamerank">Rank {{loop.index}}</p>
                <!-- collect button -->
               
                <a href="{{url_for('gamepage.gamepage',game_id=game['game_id'])}}">
                    <p class="animate__animated animate__bounce" id="gameTitle" class="animate__headShake"> {{game['game_title']}}</p>
                    <!-- <h1 class="animate__animated animate__bounce">An animated element</h1> -->
                </a>
            </div>
            <!-- show game_update_time 日期只显示年月日部分 -->
            <p id="gameUpdateTime">update time:{{game['game_update_time'].year}}年{{game['game_update_time'].month}}月{{game['game_update_time'].day}}日</p>
            <div class="collectButton">
                <button onclick="collect('{{game.game_id}}')"  class="btn btn-primary" type="button" value="{{game.game_id}}">
                    😘
                </button>
            </div>            
        </div>
        <div id="gameSeparate"></div>
        {% endfor %}
    </div>

    <script>

        function collect(game_id) {
            $.ajax({
                url: "{{url_for('mainpage.collect')}}",
                type: "POST",
                data: {
                    game_id: game_id
                },
                success: function(data){
                    if(data== "collectSuccess"){
                        $("#collectButton").text("✔");
                    }
                    else if(data=='cancelSuccess'){
                        $("#collectButton").text("😘");
                    }
                    else{
                        alert("收藏失败");
                    }
                },
                error: function(data){
                    alert("收藏失败");
                }
            });
        }
        //button id="collectButton"
        //ajax send request to server
        //if success, change button text to "已收藏"
        //if fail, alert "收藏失败"
        //if already collected, alert "已收藏"


    </script>


    <!-- a div 占位 -->
    <div id="takePlace"></div>
    <div id="sideBox">
        <div id="SB1">
            <p id="SBSelector1">根据平台筛选</p>
            <!-- 选择列表 psp,ps4,xbox,pc... -->
            <ul id="SBSelectorList1">
                <li>
                    <a href="{{url_for('mainpage.mainpage')}}">&ensp;全部 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_type='psp')}}">&ensp;PSP &ensp; </a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_type='ps4')}}">&ensp;PS4 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_type='xbox')}}">&ensp;XBOX &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_type='pc')}}">&ensp;PC &ensp;</a>
                </li>
            </ul>
        </div>

        



        <div id="SB3">
            <!-- 根据发布年份筛选 -->
            <p id="SBSelector3">根据发布年份筛选</p>
            <ul id="SBSelectorList3">
                <li>
                    <a href="{{url_for('mainpage.mainpage')}}">&ensp;全部 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2019')}}">&ensp;2019 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2018')}}">&ensp;2018 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2017')}}">&ensp;2017 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2016')}}">&ensp;2016 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2015')}}">&ensp;2015 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2014')}}">&ensp;2014 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2013')}}">&ensp;2013 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2012')}}">&ensp;2012 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2011')}}">&ensp;2011 &ensp;</a>
                </li>
                <li>
                    <a href="{{url_for('mainpage.mainpage',game_year='2010')}}">&ensp;2010 &ensp;</a>
                </li>
            </ul>
        </div>
    </div>
</div>



{% endblock %}