{% extends 'base.html' %}

{% block header %}

{% endblock %}


{% block content %}
<script>
  // dont use ajax
  //name length less than 90,output in the span
  function check_name() {
    var name = document.getElementById("name").value;
    var span = document.getElementById("name_span");
    if (name.length > 90) {
      span.innerHTML = "name length less than 90";
    }
    else if (name.length == 0) {
      span.innerHTML = "name shouldnt be empty";
    }
    else {
      span.innerHTML = "";
    }
  }
  //password length more than 6
  function check_password() {
    //check the length and the format
    var password = document.getElementById("password").value;
    var span = document.getElementById("password_span");
    if (password.length < 6) {
      span.innerHTML = "password length more than 6";
    }
    else if (password.length == 0) {
      // password shouldnt be empty
      span.innerHTML = "password shouldn't be empty";
    }
    else {
      span.innerHTML = "";
    }
    //password and confirm password must be the same
    function check_confirm_password() {
      var password = document.getElementById("password").value;
      var confirm_password = document.getElementById("confirm_password").value;
      var span = document.getElementById("confirm_password_span");
      if (password != confirm_password) {
        span.innerHTML = "password and confirm password must be the same";
      }
      else {
        span.innerHTML = "";
      }
    }
    //email format,if not,output in the span
    function check_email() {
      var email = document.getElementById("email").value;
      var reg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
      var span = document.getElementById("email_span");
      if (!reg.test(email)) {
        span.innerHTML = "email format error";
      }
      else {
        span.innerHTML = "";
      }
    }
    //check all,if all is ok,submit,else show error
    function check_all() {
      var name = document.getElementById("name").value;
      var password = document.getElementById("password").value;
      var confirm_password = document.getElementById("confirm_password").value;
      var email = document.getElementById("email").value;
      var span = document.getElementById("name_span");
      var span1 = document.getElementById("password_span");
      var span2 = document.getElementById("confirm_password_span");
      var span3 = document.getElementById("email_span");
      if (name.length > 90) {
        span.innerHTML = "name length less than 90";
        return false;
      }
      else if (name.length == 0) {
        // name shouldnt be empty
        span.innerHTML = "name shouldnt be empty";
        return false;
      }
      else {
        span.innerHTML = "";
      }
      if (password.length < 6) {
        span1.innerHTML = "password length more than 6";
        return false;
      }
      else if (password.length == 0) {
        // password shouldnt be empty
        span1.innerHTML = "password shouldnt be empty";
        return false;
      }
      else {
        span1.innerHTML = "";
      }
      if (password != confirm_password) {
        span2.innerHTML = "password and confirm password must be the same";
        return false;
      }
      else {
        span2.innerHTML = "";
      }
      if (!check_email()) {
        span3.innerHTML = "email format error";
        return false;
      }
      else {
        span3.innerHTML = "";
      }
      return true;
    }
}

</script>
<div class="register">
  <form class="registerForm" method="post">
    <label for="name">Name</label>
    <input name="name" id="name" onblur="check_name()" required>
    <span id="name_span"></span>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" onblur="check_password()" required>
    <span id="password_span"></span>
    <br>
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password" onblur="check_confirm_password()" required>
    <span id="confirm_password_span"></span>
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" onblur="check_email()" required>
    <span id="email_span"></span>
    <br>
    <!-- 全部验证通过后提交 -->
    <input class="btn" type="submit" value="Submit" onclick="return check_all()">
  </form>
</div>


{% endblock %}