

<!DOCTYPE html>

<head>
    <title>gameRank</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
</head>

<body>
    <div class="navigator">
        <div class="headbox">
            <a href="{{url_for('mainpage.mainpage')}}">
                <img class="logo" src="{{url_for('static',filename='/websiteMaterialStock/biglogo.png')}}" alt="logo">
            </a>
            <h1 class="header">gameRank</h1>
        </div>
        <!-- 中间栏 -->
        <div class="medium">
            <a href="*"></a>
            <a href="*"></a>
        </div>
        <!-- 登录 注册 -->
        <div class="authBtn">
            {% if current_user.is_authenticated %}
            <!-- 显示用户姓名，点击后重定向到用户主页 -->
            <a href="{{url_for('user.submit_new_game',user_name=current_user.user_name)}}">{{current_user.user_name}}</a>
            <a class="logOutBtn" href="{{ url_for('auth.logout') }}" target="blank">退出</a>
            {% else %}
            <a class="loginBtn" href="{{ url_for('auth.login') }}" target="blank">登录</a>
            <a class="regBtn" href="{{ url_for('auth.register') }}" target="blank">注册</a>
            {% endif %}
        </div>
    </div>

    <section class="content">
        <header>
          {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    



</body>