<!DOCTYPE html>

<head>
    <title>gameRank</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/animate.min.css')}}">
    <!-- include jquery -->
    <script src="../static/javascript/jquery-3.6.0.js"></script>
    <script src="../static/javascript/L2Dwidget.min.js"></script>
    <script src="../static/javascript/L2Dwidget.min.js.map"></script>

</head>

<body>
    <div class="navigator">
        <div class="head-box">
            <a href="{{url_for('mainpage.mainpage')}}">
                <img  class="logo" src="{{url_for('static',filename='/websiteMaterialStock/biglogo.png')}}" alt="logo">
            </a>
            <h1 class="animate__animated animate__flipInX" id="header">gameRank</h1>
            <!-- <h1 class="animate__animated animate__bounce">An animated element</h1> -->
        </div>
        <!-- 中间栏 -->
        <div class="medium">
            <a href="*"></a>
            <a href="*"></a>
        </div>
        <!-- 登录 注册 -->
        <div id="rightBox">
            {% if current_user.is_authenticated %}
            <!-- 显示用户姓名，点击后重定向到用户主页 -->
            <!-- 鼠标移动到名字上时，显示下拉框 -->
            <!-- 显示头像 -->
            <!-- 头像在static/userMaterialStock/user_id/avatar -->            
            <div>
                <img style="width:50px" id="avatarDis" src="{{url_for('static',filename='/userMaterialStock/'~current_user['id']~'/avatar.png')}}" alt="">
            </div>
            <div class="dropdown">
                <button id="userNameDis" class="dropbtn">
                    <a>
                        hi,{{current_user.user_name}}！
                    </a>
                </button>

                <div class="dropdown-content">
                    <a href="{{url_for('user.user_home',user_name=current_user.user_name)}}">个人主页</a>
                    <a id="aaa" href="{{url_for('user.settings',user_name=current_user.user_name)}}">修改用户设置</a>
                    <a href="{{url_for('user.submit_new_game')}}">上传新游戏</a>
                    <a href="{{url_for('auth.logout')}}">登出</a>
                </div>
            </div>




            {% else %}
            <a class="loginBtn" href="{{ url_for('auth.login') }}">登录</a>

            <a class="regBtn" href="{{ url_for('auth.register') }}">注册</a>
            {% endif %}
        </div>


    </div>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>

    <script>
        L2Dwidget.init({
            "model": {
                jsonPath: "https://unpkg.com/live2d-widget-model-koharu/assets/koharu.model.json",
                "scale": 1.5
            },
            "display": {
                "position": "right",
                "width": 150,
                "height": 300,
                "hOffset": 0,
                "vOffset": -20
            },
            "mobile": {
                "show": true,
                "scale": 0.5
            },
            "react": {
                "opacityDefault": 0.7,
                "opacityOnHover": 0.3
            }
        });
    </script>



</body>

