<!DOCTYPE html>

<head>
    <title>gameRank</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
</head>

<body>
    <div class="navigator">
        <div class="headbox">
            <a href="{{url_for('mainpage.mainpage')}}">
                <img class="logo" src="{{url_for('static',filename='/websiteMaterialStock/biglogo.png')}}" alt="logo">
            </a>
            <h1 class="header">gameRank</h1>
        </div>
        <!-- 中间栏 -->
        <div class="medium">
            <a href="*"></a>
            <a href="*"></a>
        </div>
        <!-- 登录 注册 -->
        <div class="authBtn">
            {% if g.user %}
            <a class="logOutBtn" href="http://www.google.com" target="blank">退出</a>
            
            {% else %}
            <a class="loginBtn" href="http://www.google.com" target="blank">登录</a>
            <a class="regBtn" href="http://www.google.com" target="blank">注册</a>

            
            {% endif %}
        </div>
    </div>

    <div class="gameRankList" >
        <p>qeqweqewqeqwe</p>
        <section>
            {% block gameRankList %}{% endblock %}
        </section>
    </div>
    



</body>