<!-- 用户修改名称，头像，自我介绍等 -->
{% extends 'base.html' %}

{% block header %}
{% block title %}<h1>修改用户设置</h1>{% endblock %}
{% endblock %}

{% block content %}
<!-- 一个表单 表单的项间有分隔线 -->

<div id="settingsBody" class="animate__animated animate__bounceInUp">
    <div id="settingsBodyInner">
        <form action="{{ url_for('user.settings',user_name=current_user.user_name) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">用户名</label>
                <input type="text" class="form-control" id="name" name="newUsername" value="{{ current_user.user_name }}">
            </div>
            <div class="form-group">
                <label for="avatar">头像</label>
                <input type="file" class="form-control" id="avatar" name="NewAvatar">
            </div>
            <div class="form-group">
                <label for="intro">自我介绍</label>
                <textarea class="form-control" id="intro" name="newDescription" rows="3">{{ current_user.user_self_intro }}</textarea>
            </div>
            <!-- 修改密码 -->
            <div class="form-group">
                <label for="password">修改密码</label>
                <input type="password" class="form-control" id="password" name="newPassword">
            </div>
            <button type="submit" class="btn btn-primary">保存</button>
        </form>
    </div>

</div>






{% endblock %}